
<!DOCTYPE html>
<html lang="es">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Dashboard - Sport Center La Villa (Admin)</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
   <style>
       body {
           font-family: 'Poppins', sans-serif;
           background-image: url('https://www.pereiravirtual.com/images/guia/sportcenter/sportcenter-3.jpg');
           background-repeat: no-repeat;
           background-size: cover;
           color: #212529;
           margin: 0;
           padding: 0;
           box-sizing: border-box;
       }

       header {
           background-color: rgba(0, 0, 0, 0.5);
           color: #ffffff;
           padding: 20px 0;
           text-align: center;
           margin-bottom: 30px;
       }

       header h1 {
           font-size: 2.5em;
       }

       header nav ul {
           list-style: none;
           padding: 0;
           text-align: center;
       }

       header nav li {
           display: inline-block;
           margin: 0 10px;
       }

       header nav a {
           text-decoration: none;
           color: #ffffff;
           font-size: 1.5em;
       }

       main {
           padding: 50px 0;
           text-align: center;
           position: relative;
       }

       main h2 {
           font-size: 2em;
           margin-bottom: 30px;
       }

       main h1 {
           font-size: 2em;
           margin-bottom: 30px;
       }

       main .card {
           margin-bottom: 20px;
           background-color: #ffffff;
           border: none;
           border-radius: 8px;
           box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
       }

       main .card .card-body {
           text-align: center;
       }

       .dashboard-image {
           max-width: 100%;
           height: auto;
           border-radius: 8px;
       }

       footer {
           background-color: rgba(0, 0, 0, 0.5);
           color: #ffffff;
           text-align: center;
           padding: 10px 0;
           position: fixed;
           bottom: 0;
           width: 100%;
       }
   </style>
</head>

<body>
   <header>
       <h1 class="display-4">Panel de Administrador</h1>
       <nav class="navbar navbar-expand-lg navbar-dark">
           <ul class="navbar-nav mx-auto">
               <li class="nav-item">
                  <a class="nav-link" href="/admin/reservas">Administrar Usuarios</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/datos_usuarios">Administrar Reservas</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="https://app.botpress.cloud/workspaces/wkspace_01HFQ08R69M84MKEX35J6SWAXF/chatbots/6f3f2f7b-fab9-4452-96a8-b592c2075221/analytics?startDate=2023-11-14&endDate=2023-11-22">Estadísticas Chatbot</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/logout">Cerrar Sesión</a>
               </li>
           </ul>
       </nav>
   </header>

   <main>
       <!-- Agrega aquí el contenido específico para el panel de administrador -->

       <!-- Agregamos la imagen proporcionada -->
       <img src="https://www.pereiravirtual.com/images/guia/sportcenter/sportcenter.jpg" alt="Sport Center La Villa"
           class="img-fluid rounded">

       <!-- Sección del Chatbot -->
       <div id="webchat"></div>
   </main>

   <footer class="text-white">
       © 2023 Sport Center La Villa
   </footer>

   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>


